[submodule "repo-1"]
	path = repo-1
	url = git@gitlab.cee.redhat.com:amendiol/repo-1.git
[submodule "repo-2"]
	path = repo-2
	url = git@gitlab.cee.redhat.com:amendiol/repo-2.git
[submodule "crucible"]
	path = crucible
	url = git@github.com:Demostenes777/crucible.git
